@font-face {
    font-family: decker;
    src: url('{{ public_path('/site/fonts/Decker.tff') }}');
}

body {
background-color:black;

}

.nav-item  {
font-family: decker;
    color: black;
}


.border{border:1px solid red;}

.modal {  transform: translate(0%,0%);}
.modal-dialog {
min-width: 100%;
min-height: 100%;
padding: 0;
margin: 0;
}

.modal-content {
min-height: 100%;
min-width:100%;
border-radius: 0;
